/* Base Application Styles */
html,body {
  width: 100%;
  height: 100%;
  background: #222;
}

.content{
  width: 100%;
  height: 100%;
}

// stage --start
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}
// stage --end

// img --start
.img-sec{
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ddd;
  @at-root{
    .img-figure{
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      box-sizing: border-box;
      background: #fff;
      img{
        width: 240px;
        height: 260px;
      }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 20px;
      }
    }
  }
}

// img --end

// controller --start
.controller-nav{
  position: relative;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
// controller --end